body {
  background-color: #FDFAF6;
  height: 100%;
  overflow: hidden;
}



h1{

  margin:0 0 0 0;
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 66pt;
  color: black;
  position: relative;
  top:26px ;

}



.box1{
  background-color: blue;
  display: inline-block;
  position: absolute;
  top:170px;
  left:50px;
}
.box2{
background-color: green;
  display: inline-block;
  top:170px;
  position: absolute;
  left:400px;
}
.box3{
  background-color: brown;
    display: inline-block;
    top:170px;
    position: absolute;
    left:800px;
}
