body {
  background-color: #FDFAF6;
  height: 100%;
  overflow: hidden;
}

.head1 {
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 82pt;
  color: black;
  position: relative;
  bottom: 60px;

}




.paragraph1 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative;
  bottom: 145px;
  margin-left: 165px;
  font-size: 12pt;
}

.paragraph2 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12pt;
  position: relative;
  bottom: 160px;
  margin-left: 165px;
  line-height: 5%;
  text-transform: uppercase;

}
.paragraph3{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 9pt;
    position: relative;
    bottom:130px;

}

h3 {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 10pt;
  color: black;
  position: relative;
  bottom: 125px;
}

/* When hyperlink is clicked on the color will remain black */
a, a:visited {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: black;
    text-decoration: none;
}
.boldtext{
  font-weight: bold;
}
