body {
  background-color: #FDFAF6;
}

h1 {
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 82pt;
  color: black;
  position: relative;
  bottom: 60px;
}

.paragraph1 {
  font-family: "Helvetica Neue";
  position: relative;
  bottom: 145px;
  margin-left: 165px;
  font-size: 12pt;
}

.paragraph2 {
  font-family: "Helvetica Neue";
  font-size: 12pt;
  position: relative;
  bottom: 135px;
  margin-left: 165px;
  line-height: 5%;
}
.paragraph3{
  font-family: "Helvetica Neue";
    font-size: 9pt;
}

h3 {
  font-family: "Helvetica Neue";
  font-size: 10pt;
  color: black;
  position: relative;
  bottom: 100px;
}

/* When hyperlink is clicked on the color will remain black */
a, a:visited {
  font-family: "Helvetica Neue";
  color: black;
}
