

body {
  background-color: white;

}


h1 {
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 82pt;
  color: black;
}

h3 {
  color: black;
}

/* When hyperlink is clicked on the color will remain black */
a, a:visited{
     color: black;
}
